.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

/*Old-home.html background */

.section-hero-portfolio {
  height: 50vh;
  background-image: url('../Images/Banner_6.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.navbar {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  padding-top: 10px;
  background-color: black;
}

/*navbar font configurations*/

.navbar-link {
  font-family: 'Times New Roman', Times, serif;
  color: rgb(219, 218, 218);
  font-size: 30px;
  line-height: 1.4;
  font-weight: 400;
}

/*navbar glow*/

.navbar-link:hover {
  color: #f5d108;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.div-block {
  position: relative;
}

.nav-menu {
  margin-left: auto;
}

.container1300 {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.section-portfolio-text {
  padding-bottom: 50px;
  background-color: rgb(0, 0, 0);
}

/*unknown code location for the moment*/

.portfolio-title {
  margin-top: 6px;
  margin-bottom: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.82);
  font-family: 'Times New Roman', Times, serif;
  font-size: 36px;
  text-align: center;
}

/*unknown code location for the moment*/

.portfolio-paragraph {
  padding-right: 60px;
  padding-left: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}

/* image for homepage */

.section-hero-homepage {
  height: 50vh;
  background-image: url('../Images/Banner_7.JPG');
  background-position: 50% 50%;
  background-size: cover;
}

.section-homepage-text {
  padding-bottom: 60px;
}

/*text title for homepage*/

.homepage-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 40px;
  text-align: center;
}

/*unknown code for the moment*/

.homepage-paragraph {
  padding-right: 60px;
  padding-left: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.grid-gallery {
  margin-top: 40px;
  grid-column-gap: 8px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.wrapper-photo {
  height: 150px;
}

.div-block-2 {
  height: 4px;
  background-color: #000000;
}

.gallery-photo {
  overflow: visible;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.pict1-section-header {
  height: 20vh;
  background-image: url('../Images/picture-1.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.section-2 {
  height: 1000px;
}

.pict2-section-header {
  height: 20vh;
  background-image: url('../Images/picture-2.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict3-section-header {
  height: 20vh;
  background-image: url('../Images/picture-3.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict4-section-header {
  height: 20vh;
  background-image: url('../images/picture-4.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict5-section-header {
  height: 20vh;
  background-image: url('../Images/picture-5.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict6-section-header {
  height: 20vh;
  background-image: url('../Images/picture-6.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict7-section-header {
  height: 20vh;
  background-image: url('../Images/picture-7.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict8-section-header {
  height: 20vh;
  background-image: url('../Images/picture-8.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.pict9-section-header {
  height: 20vh;
  background-image: url('../Images/picture-9.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (max-width: 991px) {
  .section-portfolio-text {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .grid-gallery {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .grid-gallery {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  #w-node-557fa0d4079a-ff7011b5 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

